# period and periodindex

In [1]:
import pandas as pd
y = pd.Period('2016')
y
# Annual - December

Period('2016', 'A-DEC')

In [3]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [4]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [13]:
m = pd.Period('2011-1',freq='M')
m

Period('2011-01', 'M')

In [15]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [16]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [17]:
m + 1

Period('2011-02', 'M')

In [18]:
m = pd.Period('2016-12',freq='M')
m

Period('2016-12', 'M')

In [19]:
m + 1

Period('2017-01', 'M')

In [23]:
d = pd.Period('2017-02-28',freq='D') # D is b default
d

Period('2017-02-28', 'D')

In [25]:
d.start_time

Timestamp('2017-02-28 00:00:00')

In [26]:
d.end_time

Timestamp('2017-02-28 23:59:59.999999999')

In [27]:
d + 1

Period('2017-03-01', 'D')

In [28]:
d = pd.Period('2016-02-28',freq='D') # D is b default
d

Period('2016-02-28', 'D')

In [31]:
d + 1 # s we can see it is fully aware of  leap_year

Period('2016-02-29', 'D')

In [34]:
h = pd.Period('2016-02-28 23:00:00',freq='H')
h

Period('2016-02-28 23:00', 'H')

In [35]:
h.start_time

Timestamp('2016-02-28 23:00:00')

In [36]:
h.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [37]:
h+1

Period('2016-02-29 00:00', 'H')

In [41]:
h+pd.offsets.Hour(1)

Period('2016-02-29 00:00', 'H')

In [42]:
h - 6

Period('2016-02-28 17:00', 'H')

In [44]:
# quarterly period
q = pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

In [45]:
q+1

Period('2017Q2', 'Q-DEC')

In [46]:
q.start_time

Timestamp('2017-01-01 00:00:00')

In [47]:
q.end_time

Timestamp('2017-03-31 23:59:59.999999999')

In [49]:
# walmart feb to jan fiscal year
q = pd.Period('2017Q1',freq='Q-JAN') # mean their year will end in jan 2017
q

Period('2017Q1', 'Q-JAN')

In [50]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [51]:
q.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [52]:
q.asfreq('M',how='start') # convertig in to month

Period('2016-02', 'M')

In [53]:
q.asfreq('M',how='end')

Period('2016-04', 'M')

In [54]:
q2 = pd.Period('2018Q2',freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [56]:
q2.start_time

Timestamp('2017-05-01 00:00:00')

In [55]:
q2-q # there are 5 quarters between them..

# many frequencies ..check documentation

In [57]:
idx = pd.period_range('2011','2017',freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [58]:
#for walmart
idx = pd.period_range('2011','2017',freq='Q-JAN') 
idx# confusing
# it will start from where last quarter of 2011 year...which is here 4th quarter
# or in jan..quater for walmart is 4th

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [59]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [60]:
idx[0].end_time #

Timestamp('2011-01-31 23:59:59.999999999')

In [61]:
idx = pd.period_range('2011',periods = 10,freq='Q-JAN') 
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [66]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)),idx)
ps

2011Q4    0.834200
2012Q1    0.817503
2012Q2   -0.571654
2012Q3    0.339818
2012Q4    0.702428
2013Q1   -0.459472
2013Q2    2.086620
2013Q3    0.172609
2013Q4    0.374091
2014Q1   -0.276354
Freq: Q-JAN, dtype: float64

In [67]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [68]:
ps['2011']

2011Q4    0.834200
2012Q1    0.817503
2012Q2   -0.571654
2012Q3    0.339818
2012Q4    0.702428
Freq: Q-JAN, dtype: float64

In [69]:
ps['2011':'2013']

2011Q4    0.834200
2012Q1    0.817503
2012Q2   -0.571654
2012Q3    0.339818
2012Q4    0.702428
2013Q1   -0.459472
2013Q2    2.086620
2013Q3    0.172609
2013Q4    0.374091
2014Q1   -0.276354
Freq: Q-JAN, dtype: float64

In [71]:
pst = ps.to_timestamp()
pst

2010-11-01    0.834200
2011-02-01    0.817503
2011-05-01   -0.571654
2011-08-01    0.339818
2011-11-01    0.702428
2012-02-01   -0.459472
2012-05-01    2.086620
2012-08-01    0.172609
2012-11-01    0.374091
2013-02-01   -0.276354
Freq: QS-NOV, dtype: float64

In [72]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [74]:
pst.to_period()

2010Q4    0.834200
2011Q1    0.817503
2011Q2   -0.571654
2011Q3    0.339818
2011Q4    0.702428
2012Q1   -0.459472
2012Q2    2.086620
2012Q3    0.172609
2012Q4    0.374091
2013Q1   -0.276354
Freq: Q-DEC, dtype: float64

In [80]:
import pandas as pd
df = pd.read_csv('wmt_17.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [81]:
df.set_index('Line Item',inplace = True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [84]:
df = df.T 
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [85]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [86]:
# convert this type object into periodindex

In [87]:
df.index = pd.PeriodIndex(df.index,freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

Add start date end date columns to dataframe

In [89]:
df['start date'] = df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [92]:
df['end date'] = df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999