# to_datetime

In [6]:

import pandas as pd
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [7]:
dates = ['2017-01-05 2:30:00 PM','Jan 5, 2017 14:30:00', '01/05/2016', '2017.01.05', '2017/01/05','20170105' ]
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2016-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
# US mm/dd/yy
# europe dd/mm/yy

In [9]:
pd.to_datetime('5/1/2017') # here 5 considered as month as in US

Timestamp('2017-05-01 00:00:00')

In [10]:
# if we want 5 to be considered as date
pd.to_datetime('5/1/2017',dayfirst=True)

Timestamp('2017-01-05 00:00:00')

In [13]:
pd.to_datetime('5$1$2017',format='%d$%m$%Y')

Timestamp('2017-01-05 00:00:00')

In [16]:
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105','abc']
pd.to_datetime(dates,errors='ignore') # it will ignore sttring error of abc

Index(['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05',
       '20170105', 'abc'],
      dtype='object')

In [17]:
pd.to_datetime(dates,errors='coerce') # invalid string wil convert into NaT(nt a time stamp)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05',        'NaT'],
              dtype='datetime64[ns]', freq=None)

# Epoch
# Epoch or Unix time means number of seconds that have passed since Jan 1, 1970 00:00:00 UTC time

In [18]:
# unit is by default nanosecnd
t = 1571576162
pd.to_datetime(t,unit = 's')

Timestamp('2019-10-20 12:56:02')

In [19]:
t = 1571576162
dt = pd.to_datetime([t],unit = 's')
dt

DatetimeIndex(['2019-10-20 12:56:02'], dtype='datetime64[ns]', freq=None)

In [21]:
dt.view('int64')#1571576162 is epoc time and 0000000 is because of default unit nanosecond

array([1571576162000000000], dtype=int64)